<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-4" *ngFor= "let oferta of ofertas"> <!-- -->
      <div class="card">
        <img class="card-img-top" [src]="oferta.imagens[0]"><!--src="{{oferta.imagens[0].url}}-->
        <div class="card-block">
          <h4 class="card-title">{{oferta.descricao_oferta}}</h4>
          <p class="card-text">Rodízio de Mini-hambúrger com opção de entrada.</p>
          <p class="preco">{{oferta.valor}}</p>
          <a [routerLink]="['/oferta',oferta.id]" class="btn btn-outline-primary">Ver oferta</a><!-- propertybinding para pasar um array, que contenha uma rota e um parametro ouy seja: /oferta, oferta.id-->
        </div><!-- oferta.id , o id e uma das propriedades do objt ofertas, -->
      </div>
    </div>
  </div>
  <hr />
  
</div>
